.skills-container[b-02k1e6ktf8]{
    width: 70%;
    margin: auto;
}
.skill[b-02k1e6ktf8]{
    margin: 20px 0;
}
.skill-bar[b-02k1e6ktf8]{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    animation: fillBar-b-02k1e6ktf8 2s ease-out forwards;
    box-shadow:0 0 10px rgba(255,255,255,0.5);
    position:relative;
    overflow: hidden;
}
.skill-bar[b-02k1e6ktf8]::after{
    content:"";
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.3);
    transform: skewX(-25deg);
    animation: shine-b-02k1e6ktf8 2s infinite;
}
@keyframes shine-b-02k1e6ktf8{
    100%{
        left: 150%;
    }
}
.html[b-02k1e6ktf8]{
    width: 40%;
    background:#e34c26;
}
.css[b-02k1e6ktf8]{
    width: 60%;
    background: #264de4;
}
.blazor[b-02k1e6ktf8]{
    width: 30%;
    background: #68217a;
}
@keyframes fillBar-b-02k1e6ktf8{
    from{
        width: 0;
    }
}