h3[b-02k1e6ktf8] {
    text-align: center;
}
p[b-02k1e6ktf8]{
    text-align: center;
}

/* Card */
.skill-card[b-02k1e6ktf8] {
  max-width: 1000px;
    margin: auto;
    margin-top: 60px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

/* Progress background */
.progress[b-02k1e6ktf8] {
    width: 100%;
    height: 25px;
    background-color: #eee;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
}

/* Progress bar (starts empty) */
.progress-bar[b-02k1e6ktf8] {
    height: 100%;
    width: 0; /* start at 0 */
    background-color: #0078D7;
    color: white;
    text-align: center;
    line-height: 25px;
    border-radius: 10px;
    transition: width 0.8s ease;
}

/* Animate on hover */
.skill-card:hover .progress-bar[b-02k1e6ktf8] {
    width: var(--value);
}