<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fas fa-briefcase"></i> Portfolio</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="fas fa-home"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="skills">
        <i class="fas fa-tools"></i> Skills
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="projects">
        <i class="fas fa-rocket"></i> Projects
        </NavLink>
        </div>
    </nav>
</div>

