@page "/skills"

<h3>My Skills</h3>

<div class="skill-card">
    <p><i class="fab fa-java"></i> Java</p>
    <div class="progress">
        <div class="progress-bar" style="--value:40%">40%</div>
    </div>
</div>

<div class="skill-card">
    <p><i class="fas fa-code"></i> C</p>
    <div class="progress">
        <div class="progress-bar" style="--value:60%">60%</div>
    </div>
</div>

<div class="skill-card">
    <p><i class="fab fa-html5"></i> HTML</p>
    <div class="progress">
        <div class="progress-bar" style="--value:70%">70%</div>
    </div>
</div>

<div class="skill-card">
    <p><i class="fab fa-css3-alt"></i> CSS</p>
    <div class="progress">
        <div class="progress-bar" style="--value:75%">75%</div>
    </div>
</div>

<div class="skill-card">
    <p><i class="fas fa-bolt"></i> Blazor</p>
    <div class="progress">
        <div class="progress-bar" style="--value:30%">30%</div>
    </div>
</div>